---
import AppLayout from "@/layout/AppLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";
import { AddressPicker } from "@/components/HomeSearchDropdown";

export const prerender = false;
const {user} = Astro.locals;

---
<AppLayout>
<MainLayout>
	<figure class="rounded-3xl overflow-x-hidden relative">
		<img src="https://images.unsplash.com/photo-1670589953882-b94c9cb380f5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyNTgzNzB8MHwxfGFsbHx8fHx8fHx8fDE3NzcwNDU3NDB8&ixlib=rb-4.1.0&q=80&w=1920"
		 	 width="1920" 
			 height="1080" 
			 class="brightness-80 h-120 max-w-none object-cover object-center"
		/>
		<div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center p-4">
			<div class="text-white">
			<h1 class="text-3xl tracking-tighter font-bold ">FIND YOUR FUTURE HOME</h1>
			<p class="font-bold">Experience the art of living in spaces designed for your life's next chapter. Curated by experts, built for you.</p>

			<div class="px-4 py-8 rounded-lg bg-white mt-4">
				<AddressPicker client:load />
			</div>
			</div>
		</div>
	</figure>
</MainLayout>
</AppLayout>