---
import MainLayout from "@/layout/MainLayout.astro";
import AppLayout from "@/layout/AppLayout.astro";
---
<AppLayout>
    <MainLayout>
        <h1>Create Listing</h1>
    </MainLayout>
</AppLayout>