---
import AppLayout from "@/layout/AppLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";

const { id } = Astro.params;
---
<AppLayout>
<MainLayout>
<h1>Edit Listing {id}</h1>
</MainLayout>
</AppLayout>