---
import AppLayout from "@/layout/AppLayout.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---
<AppLayout>
	<Navbar />
    <main class="min-h-[calc(100vh-12rem)] max-w-7xl mx-auto">
    <slot />
    </main>
	<Footer />
</AppLayout>